allow init wpa_socket:unix_dgram_socket { bind create };

allow init labeledfs:filesystem { associate };
allow init rootfs:filesystem { associate };
allow init self:binder { set_context_mgr };

# Init shell
allow init_shell device:chr_file { write getattr open };
allow init_shell device:dir { read open };
allow init_shell rootfs:file { read open };
allow init_shell self:capability { dac_override chown fsetid fowner net_admin };
allow init_shell self:netlink_socket { write getattr setopt read bind create };
allow init_shell system_file:lnk_file { getattr };

# Firmwares
allow init_shell radio_efs_file:dir { read open };
allow init_shell radio_efs_file:file { getattr };
allow init_shell radio_efs_file:lnk_file { getattr };

# Graphics / HDMI setup
allow init_shell graphics_device:dir { read write add_name };
allow init_shell graphics_device:lnk_file { create };

# Time
allow init_shell alarm_device:chr_file { write };

# Sensors
allow init_shell sensors_data_file:dir { getattr setattr };
allow init_shell sensors_data_file:file { write getattr setattr };
allow init_shell sensors_device:chr_file getattr;

# Wifi
allow init_shell wifi_data_file:file getattr;
allow init_shell persist_wifi_file:file { read getattr open };
allow init_shell system_data_file:file { write open };

# Bluetooth
allow init_shell hci_attach_dev:chr_file { read write ioctl open };
allow init_shell hci_attach_exec:file { read getattr open execute execute_no_trans };
allow init_shell persist_file:file { getattr };

# Allow writing to sysfs and proc nodes
allow init_shell sysfs:file { write setattr };
allow init_shell proc:file write;

allow init_shell tmpfs:chr_file { read write getattr ioctl };

# QC init scripts
allow init_shell self:file { read open };
allow init_shell rootfs:filesystem { associate };

